DISCORD_DISTRIBUTE_WEBHOOK_URL=
DISCORD_WEBHOOK_URL=
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_STORAGE_BUCKET=
FIRESTORE_DATABASE_ID=
GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_BACKUP_WEB_APP_URL=
PORT=3000
